<h1>Crear película</h1>

<hr>

<form action="/peliculas" method="POST">

    <div class="mb-3">
        <label for="title" class="form-label">Título</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Ingrese título de la película">
    </div>

    <div class="mb-3">
        <label for="genre" class="form-label">Genero</label>
        <input type="text" class="form-control" id="genre" name="genre" placeholder="Ingrese genero de la película">
    </div>

    <div class="mb-3">
        <label for="year" class="form-label">Año</label>
        <input type="text" class="form-control" id="year" name="year" placeholder="Ingrese año de la película">
    </div>

    <button class="btn btn-secondary">Crear</button>

</form>